#header{
    /*border-style: solid;*/
    /*border-color: black;*/
    width: 100%;
    height: 200px;
}

#header-title{
    width: 70%;
    height: 55%;
}

#header-login{
    display: flex;
    justify-content: flex-end;
}

#header-login button {
    width: 80px;
    height: 30px;
}